AIRTABLE_BASE_ID=
AIRTABLE_API_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_DRIVE_QUOTATIONS_FOLDER_ID=
ZOHO_BIGIN_UPSERT_URL=
ZOHO_BIGIN_DEAL_UPDATE_URL=
ZOHO_BIGIN_AUTH_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_ACCESS_TOKEN=
META_WHATSAPP_WEBHOOK_VERIFY_TOKEN=
META_WHATSAPP_SEND_URL=https://graph.facebook.com/v22.0/${META_WHATSAPP_PHONE_NUMBER_ID}/messages
DOCUMENT_SERVICE_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=Resham Sutra Sales
SMTP_FROM_EMAIL=sales@reshamsutra.com
RESHAM_NOTIFICATION_EMAIL=
